.THIS.box{
    width:300px;
    height:150px;
    border: 3px;
    margin-left:550px;
    border-style:dotted;
    border-color:red;
    background-color:#C1C321;
     }
.THIS.lg{
    margin-left:550px;
}
.THIS.ltgcrd{
    width:300px;
    height:250px;
    margin-left:550px;
    background-color:#C1C321;
    padding:20px;
}
.THIS .but{
    border:3px;
    border-color:red;
    color:red;
}